@using Practise.Core.Domain
@model IEnumerable<Student>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<div class="container">
    <a asp-action="Create" class="btn btn-success">Create student</a>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>First name</th>
                <th>Last name</th>
                <th>Email</th>
                <th>Phone</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.FirstName</td>
                    <td>@item.LastName</td>
                    <td>@item.Email</td>
                    <td>@item.Phone</td>
                </tr>
            }
        </tbody>
    </table>
</div>
